<div class="mb-4 bg-dark text-white">
    <h3 class = "text-center">ADMINKA</h3>
</div>

<div class="d-flex">
    
    <div class="nav flex-column">
            <button class = "mb-3">
                <%= link_to "List registered users", admin_users_path, class: 'nav-link px-8 text-blue' %> 
            </button>
            <button class = "mb-3">
                <%= link_to "List Questions", admin_questions_path, class: 'nav-link px-8 text-blue' %> 
            </button>
            <button class = "mb-3">
                <%= link_to "List Answers", admin_users_path, class: 'nav-link px-8 text-blue' %> 
            </button>
            <button class = "mb-3">
                <%= link_to "List nothing", admin_users_path, class: 'nav-link px-8 text-blue' %> 
            </button>
    </div>

</div>