<h1 class ="mb-4 text-center">Show record</h1>
<div class="border border-primary-subtle">
    <div class="m-2">
        <h5>Title:</h5> <p><%= @question.title %></p1>       
    </div>

    <div class="m-2">
        <h5>Body:</h5> <p><%= @question.body %></p1>       
    </div> 

</div>


